<!DOCTYPE html>
<html>
<head>
  <title>TIY Project</title>
  <link rel="stylesheet" href="css/main.css">
</head>

<!-- DEPLOYED AT http://tiy-2016q1-charlesconley-contact-form-angular.surge.sh/ -->
<body>
  <div ng-app="app">
  	<div class="container" ng-controller="MainController">
  		<form ng-submit="addContact(person)">
      <h2>Contact Us</h2>



  			<p>
  				<label class="label">Full Name</label>

          <br/>
          
  				<input name="name" type="text" placeholder="Sally Smith" ng-model="person.name" ng-keyup="validateName(person.name)">
          <br/>
          <span class="input-error">{{errors.name}}</span>
  			</p>


  			<p>
  				<label class="label">Email</label>
          <br/>
  				<input name="email" type="email" placeholder="ssmith@gmail.com" ng-model="person.email" ng-keyup="validateEmail(person.email)">
          <br/>
          <span class="input-error"> {{ errors.email }}</span>
  			</p>


  			<p>
  				<label class="label">Personal Website</label>
          <br/>
  				<input type="url" name="website" placeholder="http://www.ssmith.com" ng-model="person.site" ng-keyup="validateWebsite(person.site)">
          <br/>
          <span class="input-error"> {{ errors.site }} </span>
  			</p>


  			<p>
  				<label class="label-area">Comments</label>
          <span class="input-error"> {{ errors.comments }}</span>
          <br/>
  				<textarea type="textarea" name="comments" placeholder="A friendly message ..." ng-model="person.comments" ng-keyup="validateMsg(person.comments)"></textarea>
  			</p>


  			<p>
  				<button>SUBMIT</button>
  			</p>

  	  </form>

      <ul class="list"> List: 
        <li class="show-me" ng-repeat="stuff in contacts" data-id="{{ stuff.id }}"> 
          {{stuff.name}} 

          <!-- {{ stuff._id }} -->
          <!--VARIABLE IN NG-CLICK MUST BE SAME AS NG-REPEAT-->
          <button class="delete-item" ng-click="deleteItem(stuff)">DELETE</button>
        </li>
      </ul>
  	</div>



  </div>
  <script src="js/bundle.js"></script>
</body>
</html>
